<div class="bg-gray-200 py-10">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-8">Company Setup Options in Dubai - UAE</h2>
        <p class="text-center mb-8">One-stop solution for investors and entrepreneurs</p>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 w-[80%] m-auto">
            <div class=" bg-gradient-to-r from-[#ebc684] to-[#c4a05d]  border rounded p-4 lg:p-8 flex items-center justify-center cursor-pointer">
              
                <h3 class="text-2xl font-bold"><i class="bi bi-patch-check-fill"></i> Mainland</h3>
            </div>
            <div class="  bg-gradient-to-r from-[#ebc684] to-[#c4a05d]  border rounded p-4 lg:p-8 flex items-center justify-center cursor-pointer">
                
                <h3 class="text-2xl font-bold"
                ><i class="bi bi-patch-check-fill"></i>
                Free Zone</h3>
            </div>
            <div class=" bg-gradient-to-r from-[#ebc684] to-[#c4a05d]  border rounded p-4 lg:p-8 flex items-center justify-center cursor-pointer">
               
                <h3 class="text-2xl font-bold"
                >
                <i class="bi bi-patch-check-fill"></i>Offshore</h3>
            </div>
        </div>
    </div>
</div>
